@import "tailwindcss";

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth !important;
  font-family: 'Stockholm', sans-serif;
}
.text-primary{
  color: #6ba3ff !important;
}
.bg-primary{
  background: #3d85f8 !important;
}

@font-face {
  font-family: 'Stockholm';
  src: url('/assets/fonts/Lexend.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}